:root {
  --primaria: #ffffff;
  --secundaria: #aeb89f;
  --secundariaEscura: #4c553e;
  --preto: #0f172a;
  --cinza: rgba(25, 35, 60, 0.563);
  --sombra: 0 8px 30px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
}

body {
  background-color: var(--secundaria);
  background-image: url("../img/Background.png");
  background-repeat: repeat;
  background-size: 1150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

html {
  scroll-behavior: smooth;
}

/* cabeçalho */

header {
  background-color: var(--primaria);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  box-shadow: var(--sombra);
}

header button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

header a {
  text-decoration: none;
  color: var(--preto);
  padding: 10px;
}

#links {
  margin-left: auto;
}

.logo {
  width: 100px;
  height: 100px;
}

/* banner */

#imagemBanner {
  position: relative;
  height: 500px;
  width: 100%;
  padding: 10px;
  object-fit: cover;
}

#galeria img {
  height: 250px;
  width: 33%;
  padding: 10px;
  object-fit: cover;
}

#galeria #img1 {
  object-position: center bottom;
}

#galeria #img2 {
  object-position: center;
}

#galeria #img3 {
  object-position: center;
}

#banner h1 {
  font-size: 70px;
  position: absolute;
  z-index: 1;
  color: var(--secundariaEscura);
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
}

#banner h3 {
  font-size: 35px;
  font-style: italic;
  position: absolute;
  z-index: 1;
  color: var(--secundariaEscura);
  top: 405px;
  left: 50%;
  transform: translateX(-50%);
}

/* produtos */

#produtos h1 {
  color: var(--primaria);
  text-align: center;
  padding: 15px;
}

#cardsProdutos {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background-color: var(--primaria);
}

.card p {
  padding: 5px;
  max-width: 300px;
}

.card #nomeTexto {
  font-style: italic;
}

.card #descricaoTexto {
  color: var(--cinza);
}

.card img {
  width: 304px;
  height: 180px;
  object-fit: cover;
}

/* sobre nos */

#sobreNos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background-color: var(--primaria);
  opacity: 50%;
  width: 700px;
  padding: 20px;
  border-radius: 7px;
}

#sobreNos h2 {
  color: var(--preto);
  text-align: center;
  margin-bottom: 20px;
}

#sobreNos p {
  max-width: 600px;
  color: var(--cinza);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* logo de fundo */

#logoDeFundo {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* rodapé */

footer {
  background-color: var(--primaria);
  padding: 20px;
}

footer h3 {
  color: var(--cinza);
  text-align: center;
}
